<?xml version="1.0" encoding="UTF-8"?>
<!--
LICENSE TODO 
-->

<plugin xmlns="http://jjdltc.com"
    id="org.jjdltc.cordova.plugin.sftp"
    version="0.0.1">
    <name>JJ-sftp</name>
    <description>Cordova SFTP Upload And Download</description>
    <author>JJDLTC - Joel De La Torriente - Close Up International Mobile Dev Team</author>
    <!-- <license>Apache 2.0</license> --><!-- TODO -->
    <keywords>cordova,sftp</keywords>
<!--     <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-device.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320648</issue> -->

<!--     <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines> -->
<!-- <asset src="www/PathToFile.js" target="PathToFile.js" />     -->

    <js-module src="www/sftp.js" name="sftp">
        <clobbers target="JJsftp" />
    </js-module>


    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="JJsftp" >
                <param name="android-package" value="org.jjdltc.cordova.plugin.sftp.sftp"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

<!-- <resource-file src="FooPluginStrings.xml" target="res/values/FooPluginStrings.xml" /> -->

        <lib-file src="libs/jsch-0-1-51.jar" arch="device" />

        <source-file src="src/android/sftp.java" target-dir="src/org/jjdltc/cordova/plugin/sftp" />
        <source-file src="src/android/asyncSFTPAction.java" target-dir="src/org/jjdltc/cordova/plugin/sftp" />
        <source-file src="src/android/progressMonitor.java" target-dir="src/org/jjdltc/cordova/plugin/sftp" />
    </platform>

    <!-- ios -->
<!--     <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="ios-package" value="CDVDevice"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVDevice.h" />
        <source-file src="src/ios/CDVDevice.m" />
    </platform> -->

    <!-- browser -->
<!--     <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="browser-package" value="Device" />
            </feature>
        </config-file>

        <js-module src="src/browser/DeviceProxy.js" name="DeviceProxy">
            <runs />
        </js-module>
    </platform> -->

</plugin>
