<?xml version="1.0" encoding="UTF-8"?>
<!--
The MIT License (MIT)
Copyright (c) 2015 Joel De La Torriente - jjdltc - https://github.com/jjdltc
See a full copy of license in the root folder of the project 
-->

<plugin 
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.jjdltc.cordova.plugin.sftp"
    version="1.1.0">

    <name>JJsftp</name>
    <description>Cordova SFTP Upload And Download</description>
    <author>Joel De La Torriente - jjdltc@gmail.com - https://github.com/jjdltc</author>
    <license>MIT</license>
    <keywords>cordova,sftp,upload,download</keywords>
    <repo>https://github.com/jjdltc/jjdltc-cordova-plugin-sftp.git</repo>
    <issue>https://github.com/jjdltc/jjdltc-cordova-plugin-sftp/issues</issue>

    <js-module src="www/JJsftp.js" name="JJsftp">
        <clobbers target="JJsftp" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="JJsftp" >
                <param name="android-package" value="com.jjdltc.cordova.plugin.sftp.JJsftp"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <lib-file src="libs/jsch-0-1-51.jar" arch="device" />

        <source-file src="src/android/JJsftp.java" target-dir="src/com/jjdltc/cordova/plugin/sftp" />
        <source-file src="src/android/asyncSFTPAction.java" target-dir="src/com/jjdltc/cordova/plugin/sftp" />
        <source-file src="src/android/progressMonitor.java" target-dir="src/com/jjdltc/cordova/plugin/sftp" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="JJsftp">
                <param name="ios-package" value="JJsftp" />
            </feature>
        </config-file>

        <source-file src="src/ios/JJsftp.h" />
        <source-file src="src/ios/JJsftp.m" />

        <framework src="libz.tbd" />
        <framework src="CFNetwork.framework"/>
        <framework src="NMSSH" type="podspec" spec="~> 2.3.1" />
    </platform>
</plugin>
