<?xml version="1.0" encoding="UTF-8"?>
<!--
The MIT License (MIT)
Copyright (c) 2015 Joel De La Torriente - jjdltc - http://www.jjdltc.com/
See a full copy of license in the root folder of the project 
-->

<plugin xxmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.jjdltc.cordova.plugin.sftp"
    version="0.0.4">
    <name>JJsftp</name>
    <description>Cordova SFTP Upload And Download</description>
    <author>JJDLTC - Joel De La Torriente</author>
    <license>MIT</license>
    <keywords>cordova,sftp,upload,download</keywords>
    <repo>https://github.com/jjdltc/jjdltc-cordova-plugin-sftp.git</repo>
    <issue>https://github.com/jjdltc/jjdltc-cordova-plugin-sftp/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.6.0" />
    </engines>

    <js-module src="www/JJsftp.js" name="JJsftp">
        <clobbers target="JJsftp" />
    </js-module>

    <!-- Platform ANDROID Begins -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="JJsftp" >
                <param name="android-package" value="com.jjdltc.cordova.plugin.sftp.JJsftp"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <lib-file src="libs/jsch-0-1-51.jar" arch="device" />

        <source-file src="src/android/JJsftp.java" target-dir="src/com/jjdltc/cordova/plugin/sftp" />
        <source-file src="src/android/asyncSFTPAction.java" target-dir="src/com/jjdltc/cordova/plugin/sftp" />
        <source-file src="src/android/progressMonitor.java" target-dir="src/com/jjdltc/cordova/plugin/sftp" />
    </platform>
    <!-- Platform ANDROID Ends -->

</plugin>
